
.add-persona-page {
  background-color: #f0f0f0;
  padding: 20px;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  margin-top: 0px;
  padding-top: 0px;
}

.header-section {
 
  position: relative;
  background-color: #f0f0f0;
  height: 50px;
  width:100%;
  overflow: hidden;

}
.name_item{
  background-color: #f9f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  text-align:start;
  
}
.form-label{
  padding-right: 20px;
  font-weight: bold;
}
.input_label{
  background-color: rgb(244, 236, 236);
  width: 35%;
  padding: 20px;
  color: black;
  
}
.react {
  height: 100px; 
  width: 100%;
  color: black;
  
}

.persona-name-section {
  left: 40px;
  color: black;
  padding-bottom: 10px;
  margin-top: 20px;
 
}

.persona-name-label {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.persona-name-value {
  font-size: 20px;
  font-weight: bold;
  
}
.image {
 
  width: 100vw;
  height: 100%;
  object-fit:contain;
}

.form-section {
 
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  gap: 10px;
  
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Adjust column width */
  grid-auto-rows: minmax(150px, auto); /* Ensures rows expand properly */
  gap: 40px;
  margin-top: 20px;
}





.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  
  
}

.form-label {
  font-size: 14px;
  color:black;
  margin-bottom: 10px;
  margin-top: 40px;
 
}



.button-section {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-top: 40px;
}

.delete-button,
.close-button,
.update-button {
  padding: 10px 20px;
  width: 100px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button {
  background-color: #ff4800;
  float: inline-start;
  color: #121212;;
  float: left;
  justify-content: flex-start;
}

.close-button {
  background-color: #6c757d;
  color: white;
}

.update-button {
  background-color: #e81d72;
  color: white;
}
.imageuploaded{
  width: 10%;
  padding: 10%;
  height: 10%;
}
.persona-quote{
  padding-top: 10px;
}