
.add-persona-page {
  background-color: #f0f0f0;
  padding: 20px;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.header-section {
  position: relative;
  background-color: gray;
  padding: 20px;
  height: 200px;
  overflow: hidden;

}
.name_item{
  background-color: #f9f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  text-align:start;
  
}
.form-label{
  padding-right: 20px;
}
.input_label{
  background-color: rgb(244, 236, 236);
  width: 35%;
  color: black;
  border: 1px solid black;
}
.react {
  height: 100px; 
  width: 100%;
  
}

.persona-name-section {
  position: absolute;
 
  left: 40px;
  color: black;
}

.persona-name-label {
  font-size: 14px;
}

.persona-name-value {
  font-size: 20px;
  font-weight: bold;
}



.header-section .image-upload {
  width: 100%;
  height: 100%;
}

.form-section {
 
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  gap: 10px;
  
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Adjust column width */
  grid-auto-rows: minmax(150px, auto); /* Ensures rows expand properly */
  gap: 40px;
  margin-top: 20px;
}




.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  
  
}

.form-label {
  font-size: 14px;
  color:black;
  margin-bottom: 10px;
 
}



.button-section {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  margin-top: 20px;
}

.delete-button,
.close-button,
.update-button {
  padding: 10px 10px;
  width: 150px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button {
  background-color: #1cb3dc;
  float: inline-start;
  color: rgb(246, 13, 13);
  float: left;
  justify-content: flex-start;
}

.close-button {
  background-color: #6c757d;
  color: white;
}

.update-button {
  background-color: #13eeea;
  color: white;
}
.imageuploaded{
  width: 10%;
  padding: 10%;
  height: 10%;
}