.galary {
    position: relative;
    width: 100%; 
    height: 200px; 
  }
  
  .imagedefault {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .form_content {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .uploadimage {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .object-cover {
    width: 20px; 
    height: 20px; 
    object-fit: contain;
  }